astropy>=2.0
fitsio<=1.1.7
scipy
scikit-learn
pyparsing<=2.4.7
matplotlib
six==1.15.0
numpy<=1.22.4
tensorflow>=2.6.1
tensorflow_addons
imgaug>=0.4.0
umap-learn
hdbscan
seaborn
scikit-image
jedi<0.18.0
ipython
pydot
graphviz
lightgbm
opencv-python
mahotas
imutils
montage_wrapper
scutout
mpi4py
optuna
image-classifiers
pandas
